@import '@/assets/style/font.less';

:root {
  --animate-delay: 0.5s;
  --el-color-primary: #BEFE00 !important;
  --el-color-error:#F5222D;
  --el-color-danger: #F5222D;
}

html, body {
  width: 100%;
  height: 100%;
  background: #1B1B1A;
  color: white;
  img {
    -webkit-user-drag: none;
    -webkit-user-select: none;  /* Chrome / Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* IE10+ */
    user-select: none;          /* Standard */
  }
}
#__nuxt {
  position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
* {
  font-family: "Bai Jamjuree", sans-serif;
}


.bg-filter {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(10px);
}


// element
.el-drawer {
  background: #00000088 !important;
  width: 100%;
}

.uxlink-node-dialog {
  border-radius: 20px !important;
  background: #282828 !important;
  padding: 30px !important;
  border: 1px solid #444;
}

.uxlink-node-dialog .el-dialog__close {
  font-size: 25px !important;
  font-weight: bold !important;
  margin-top: 20px !important;
  margin-right: 20px !important;
}

.uxlink-node-dialog .el-dialog__title {
  color: white !important;
}



input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.token-selector  {
  overflow: hidden;
}
.token-selector .el-select-dropdown__item {
  height: auto !important;
  padding: 10px 10px;
  border-radius: 0px;
}
.token-selector .el-select-dropdown__list {
  padding: 0px;
}
.node-token-selector .el-select__wrapper{
  border-radius: 15px !important;
  border: 1px solid #BEFE00 !important;
  background: #BEFE0022!important;
  font-weight: bold;
  font-size:16px;
}
.node-token-selector  .el-select__selected-item {
  display: none;
}

// element
// root
:root {
  --el-color-primary: #BEFE00 !important;
  --el-color-error:#f35c64;
  --el-color-danger: #f35c64;
}

// notification
.el-notification {
  border: 0;
  top: 8rem !important;
  background: #333;
}

.el-notification__group h2{
  font-size:12px;
}

// dialog
.el-overlay {
  background: rgba(3, 3, 3, 0.4);
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(5px);
}

.el-dialog__header {
  background: #22222288;
  color: white;
  margin-right: 0;
  padding-bottom: 15px;
  padding-top: 18px;
}

.el-dialog {
  border-radius: 15px;
  overflow: hidden;
  color: white;
  background: #141414cc !important;
  .el-dialog__title {
    font-size: 16px;
    font-weight: 600;
    color: white !important;
  }
  .el-icon {
    color: white;
    font-size:18px
  }
  .el-dialog__body {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px
  }
}

.word {
  word-break:keep-all !important;
  word-wrap:break-word !important;
}

.img-rotate {
  -webkit-animation: rotate 1s infinite linear;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

.el-drawer {
  width: 100%;
  background: #2E2929;
  width: 100%;
}

.bridge-scroll-bar {
  &::-webkit-scrollbar {
    width: 5px;
    cursor: pointer;
  }
  &::-webkit-scrollbar-track {
    background-color: #1f1f1f;
    -webkit-border-radius: 2em;
    border-radius: 2em;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #424242;
    -webkit-border-radius: 2em;
    border-radius: 2em;
  }
  &::-webkit-scrollbar-thumb:hover {
    opacity: 0.5;
  }
}

.icon-box {
  .icon-light {
    display: none;
  }
}

.icon-box:hover {
  .icon-light {
    display:block
  }
  .icon-dark {
    display: none;
  }
}

.toggle-up {
  animation-name: toggle-up;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.toggle-down {
  animation-name: toggle-down;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes toggle-up {
  100% {
    transform: rotate(180deg);
  }
}
@keyframes toggle-down {
  100% {
    transform: rotate(-180deg);
  }
}

.font-bai {
  font-family: 'Bai Jamjuree';
}


.bg-filter {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
}